body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    max-width: 400px;
}

textarea {
    width: 100%;
    height: 200px;
    resize: none;
    padding: 0px;
    font-size: 18px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1e90ff;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    border: none;
    outline: none;
}

button:hover {
    background-color: #0073e6;
}

/* Loading spinner styles */
#loadingSpinner {
    display: none;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #1e90ff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
