body {
    font-family: 'Comic Sans MS', sans-serif;
    background: url('background.gif') repeat;
    color: rgb(0, 0, 0);
}
.cgif{
    width: auto;
    max-width: 95%;
}
.bgif{
    width: auto;
    max-width: 80%;
}
.bgif2{
    width: auto;
    max-width: 300px;
}



.main-layout {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

.header, .footer {
    background-color: #A9A9A9;
    text-align: center;
    padding: 10px;
    font-size: 24px;
}

.sidebar {
    background-color: #53ceff;
    padding: 10px;
    width: 25%;
}

.content {
    background-color: #FFF8DC;
    padding: 20px;
}

.retro-btn {
    display: block;
    background-color: #ff6969;
    color: #FFFFFF;
    padding: 10px;
    border: 2px outset #ffffff;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.retro-btn:hover {
    background-color: #FF4500;
    border: 2px inset #FF69B4;
}

a {
    color: #0000FF;
}

a:hover {
    text-decoration: underline;
    color: #8A2BE2;
}
